body{
    font-family: Arial, Helvetica, sans-serif;
}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root{
  --background-color:#dddddd;
  --margin:10px;
  --padding:10px;
}
.parent1,.parent2,.parent3{
width: 600px;
    height: 300px;
    background-color: #eee;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    flex-flow: wrap row;

}
.parent1{
    justify-content: space-between;
    align-content: space-between;
}
.parent1 div{
    background-color: #f44336;
    color: white;
    width: calc(95% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}
.parent2{
    justify-content: space-between;
}
.parent2 div{
    background-color: #607d8b;
    color: white;
    width: calc(95% / 3);
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent2 .one{
    order: 6;
    height: 40px;
    align-self: flex-end;
}
.parent2 .two{
    order: 5;
}
.parent2 .three{
    order: 2;
    height: 40px;
}
.parent2 .four{
    order: 3;
}
.parent2 .five{
    order: 4;
}
.parent2 .six{
    order: 1;
}
.parent3{
    flex-flow: column;
    align-items: flex-end;
    justify-content: space-between;
}
.parent3 div{
    background-color: #009688;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(95% / 3);
    width: 5%;
}
.parent3 .two{
    align-self: flex-start;
    width: 50%;
}
.page{
 background-color: #eee;
    width: 926px;
    height: 550px;
    margin:var(--margin);
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.header{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.logo,.links{
    background-color: var(--background-color);
    margin: var(--margin);
    padding: var(--padding);
    display: flex;
    width:calc(100%/6) ;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.links{
    list-style-type: none;
    justify-content:space-between;
}
.main-area{
     display: flex;
    justify-content: space-between;
}
.content,.sidebar{
    background-color: var(--background-color);
    margin: var(--margin);
    padding: var(--padding);
    display: flex;
    width:calc(100%/5) ;
    justify-content: flex-start;
    align-items: flex-start;
    height: 400px;
    
}
.content{
    list-style-type: none;
    justify-content:space-between;
}
.footer{
    background-color: var(--background-color);
    margin: var(--margin);
    padding: var(--padding);
    display: flex;
    justify-content: space-between;
    
}