body{
    font-family: Arial, Helvetica, sans-serif;
}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.eltarteb div{
    width: 300px;
    margin: 10px auto;
    text-align: center;
    height: 60px;
    line-height: 55px;
    font-weight: bold;
}

.first{
    background-color: #eee;
}
.second{
    background-color: #eee;
}
:empty{
    background-color: red;
}
.Hello{
    width: 300px;
    padding: 20px;
    background-color: #ccc;
    margin: 100px auto;
    text-align: center;
    position: relative;
}
.Hello::first-letter {
   background-color: #f44336;
    color: white;
    position: absolute;
    padding: 10px;
    float: left;
   top: 50%;
    margin-left: -35px;
    margin-top: -10px;
}
.two p {
  background-color: #eee;
  width: 400px;
  padding: 20px;
  margin: 10px auto;
  text-align: center;
  font-weight: bold;
  border-left: 5px solid #e91e63;
  position: relative; 
}

.two p::before {
  content: attr(data-person);
  background-color: #eee;
  position: absolute;
  left: -130px;
  top: 16%;
  padding: 10px;
  width: 60px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #ccc;
}

.two p::after {
  content: "";
  position: absolute;
  left: -32px;
  top: 25%;
  border: 15px solid transparent;
  border-right-color: #e91e63;
}
.this p{
  width: 400px;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
  position: relative;
  background-color: #eee;
  counter-increment: number;
}
.this p::before{
    content: counter(number);
    position: absolute;
    background-color: #f84336;
    color: white;
    left: -25px;
    top: -1%;
    padding: 10px;

}
.this p::after{
    content: "";
    background-color: #f84336;
    position: absolute;
    height: 40px;
    width: 5px;
    right: -3px;
    top: 0;
}
.one > div{
    width: 100px;
    height: 100px;
    background-color: #eee;
    position: relative;
    display: inline-block;
    margin: 10px;
    border-radius: 50%;
    outline: 3px solid black;
    box-shadow:-9px -5px 0 0 #e91e63,8px 5px 0 0 #2196f3,5px 5px 0 0 black;
    counter-increment: number;
}
.one > div::before{
  content: counter(number);
  color: white;
  background-color: black;
  position: absolute;
  border-radius: 50%;
 padding: 5px 10px;
 left: 34px;
    top: -9px;
}
.one > div::after{
  content: attr(data-person);
  color: black;
  position: absolute;
  text-align: center;
  left: 20px;
  top: 37px;

}
.rasma{
   width: 100px;
    height: 100px;
    background-color: #efefef;
    position: relative;
    display: inline-block;
    margin: 10px;
   box-shadow: inset 0 0 19px -1px ;
   border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top-left-radius: 9px 32px;
    border-bottom-right-radius: 9px 32px;
}
.parent{
    border: 1px solid #ccc;
    width: 550px;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    padding: 10px;
}
.child1,
.child2{
    width: 200px;
    height: 300px;
    background-color: #eee;
    float: left;
    padding: 20px;
    position: relative;
}
.child2{
    margin-left: 70px;
}
.ch1{
    background-color: #2196f3;
    padding: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    height: 26px;
}
.ch2{
   height: 164px;
    width: 164px;
    background-color: #ccc;
    position: absolute;
    border-radius: 50%;
    top: 87px;
}
.ch2::before{
    content: attr(data-inside);
    font-size: 40px;
    position: absolute;
   top: 57px;
    left: 45px;
}
.or{
    height: 25px;
    width: 25px;
    background-color: #2196f3;
    border-radius: 50%;
    position: absolute;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 2px;
    line-height: 23px;
    left: 231px;
    top: 165px;
}
.or::before{
    content: "";
    width: 2px;
    height: 148px;
    background-color: #2196f3;
    position: absolute;
    left: 11px;
    top: -148px;
}
.or::after{
    content: "";
    width: 2px;
    height: 148px;
    background-color: #2196f3;
    position: absolute;
    left: 11px;
    top: 25px;
}
.Elagha{
    width: 100px;
    height: 100px;
    border-radius: 32px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: rgb(10 82 120);
    color: white;
    position: relative;
    left: 239px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: inset 0 0 7px 0px;
    font-family: "Manufacturing Consent", system-ui;
    font-weight: 400;
    font-size: 28px;
    font-style: normal;
}
.Elagha::before{
    position: absolute;
    left: 10px;
    top: 32px;
    content: attr(data-person);
}
.image{
       background-color: #431ee9;
    width: 50vw;
    position: relative;
    height: 50vh;
    left: 467px;
    top: -5px;
}